{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('admin/book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_book_index') }}">back to list</a>

    {{ include('admin/book/_delete_form.html.twig') }}
{% endblock %}
